<% layout('layouts/blogs')%>
   <div class="main">
      <div class="grid grid__row">
         <div class="container">

            <% for(let i=0;i<=blogs.length-1;i++) {%>

               <ul class="post-list">
                  <li class="post-item-title"><a class="post-link-title" href="/home/<%= blogs[i].id %>">
                        <%= blogs[i].title %>
                     </a></li>
                  <li class="post-item-des"><a class="post-link-des" href="/home/<%= blogs[i].id %>">
                        <%= blogs[i].des %>
                     </a></li>
                  <li class="post-item-btn"><a class="post-link-btn" href="">tiếp tục đọc </a></li>
                  <li class="post-item-note">
                     <ul class="note-list">
                        <li class="item-node item-author"><a href="/home/<%= blogs[i].id %>"><i class="far fa-user"
                                 style="padding-right: 5px;"></i>IT nghèo</a></li>
                        <li class="item-node item-theme"><a href="/home/<%= blogs[i].id %>"><i class="far fa-folder"
                                 style="padding-right: 5px;"></i>chuyện coding</a></li>
                        <li class="item-node item-comment"><a href="/home/<%= blogs[i].id %>"><i
                                 class="fas fa-comments" style="padding-right: 5px;"></i>1 bình luận</a></li>
                        <li class="item-node item-time"><a href="/home/<%= blogs[i].id %>"><i class="fas fa-clock">
                          
                              </i></a></li>
                     </ul>
                  </li>
               </ul>
               <% }%>

                

         </div>
