<% layout('layouts/blogs')%>
   <div class="main">
      <div class="grid grid__row">
         <div class="container">
            <h2 class="chuyen-muc">chuyên mục :<%= posts.title %>
            </h2>
            <% for(let i=0; i<=posts.blogs.length-1;i++) { %>
               <ul class="post-list">
                  <li class="post-item-title"><a class="post-link-title" href="/home/<%= posts.blogs[i]._id %>">
                        <%= posts.blogs[i].title %>
                     </a></li>
                  <li class="post-item-des"><a class="post-link-des" href="/home/<%= posts.blogs[i]._id %>">
                        <%- posts.blogs[i].des %>
                     </a></li>
                  <li class="post-item-btn"><a class="post-link-btn" href="/home/<%= posts.blogs[i]._id %>">đọc tiếp</a>
                  </li>
                  <li class="post-item-note">
                     <ul class="note-list">
                        <li class="item-node item-author"><a href="/home/<%= posts.blogs[i]._id %>"><i
                                 class="far fa-user" style="padding-right: 5px;"></i>IT nghèo</a></li>
                        <li class="item-node item-theme"><a href="/home/<%= posts.blogs[i]._id %>"><i
                                 class="far fa-folder" style="padding-right: 5px;"></i>chuyện coding</a></li>
                        <li class="item-node item-comment"><a href="/home/<%= posts.blogs[i]._id %>"><i
                                 class="fas fa-comments" style="padding-right: 5px;"></i>1 bình luận</a></li>
                        <li class="item-node item-time"><a href="/home/<%= posts.blogs[i]._id %>"><i
                                 class="fas fa-clock"></i>
                              <%= updatedAts[i]%>
                           </a></li>
                     </ul>
                  </li>
               </ul>
               <%}%>
                  <%if(idPage<=countPages){%>
                     <p class="older-post"><a href="/home/post/<%= posts._id %>?page=<%=idPage%>&next=<%=next%>">bài
                           cũ hơn</a></p>
                     <%}%>
         </div>
         <div class="sidebar">
            <aside id="group-fb">

               <div id="fb-root"></div>
               <script async defer crossorigin="anonymous"
                  src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=367942391625870&autoLogAppEvents=1"
                  nonce="iv0OOf4n"></script>
               <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100072299271073" data-width="380"
                  data-hide-cover="false" data-show-facepile="false"></div>
            </aside>
            <div class="send-email">
               <form action="/send/flow" method="POST">
                  <input type="text" name="email" id="" placeholder="nhập email của bạn" class="email">
                  <button>theo dõi blog</button>
               </form>
            </div>
            <aside class="many-viewers">
               <h2 class="title-many-viewers">nhiều người xem</h2>
               <ul class="list-many-viewers">
                  <% for(let i=0; i<7;i++){%>
                     <li class="item-many-viewers"><a href="/home/<%= views[i]._id %>" class="link-many-viewers">
                           <%= views[i].title %>
                        </a></li>
                     <%}%>
               </ul>
            </aside>

            <aside class="theme">
               <h2 class="title-theme">chủ đề</h2>
               <ul class="list-theme">
                  <% for(let topic of topics){%>
                     <li class="item-theme">
                        <a href="/home/post/<%= topic._id%>" class="link-theme" style="padding-bottom: 15px;">
                           <%= topic.title %>
                        </a>
                        <ul class="list-item-theme">
                           <% for(let blog of topic.blogs){%>
                              <li class="item-item-theme"><a href="/home/<%= blog._id%>" class="link-item-theme">
                                    <%= blog.title %>
                                 </a></li>
                              <%}%>
                        </ul>
                     </li>
                     <%}%>
               </ul>
            </aside>
         </div>
      </div>
   </div>